.billeterie{
    margin: 100px 50px;
}
.billetery{
    margin: 100px 50px;
    width: 500px;
    background-color: rgb(1, 51, 108);
    padding: 10px;
    color: white;
    border-radius: 15px;
}
.addHome{
    position: absolute;
    top: 125px;
    right: 50px;
    width: 200px;
    padding: 10px;
    font-family: Lobster;
    background-color: rgb(11, 120, 198);
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.addComment{
    background-color: rgb(77, 154, 77);
}
.agency{
cursor: pointer;
}
.agency img{
    width: 500px;
    height: 300px;
}