@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Kablammo&family=Lato&family=Lobster&family=Roboto&display=swap');


.header{
    width: 100%;
    background-color: rgb(1, 13, 29);
    position: fixed;
    z-index: 1000;
    top:0;
    color:white;
    display: flex;
    padding: 10px;
    height: 75px;
    overflow: hidden;
}
aside{
  position: fixed !important;
    z-index: 999;
}
.Logo{
    font-family: Lobster;
    margin: 5px;
    color: rgb(19, 142, 163);
}
.Logo img{
    width: 60px;
}
.navbar{
    padding: 20px;
    margin-left: 20%;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    transition: all 0.25s linear;
}
.navbar a:hover{
    color:rgb(19, 142, 163);
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(19, 142, 163);
    transition: all 0.25s linear;
}
.icons{
    position: absolute;
    right: 30px;
    display: flex;
    cursor: pointer;
}
.header svg{
    transform: scale(1.8);
    margin-top: 10px;
    margin-left: 20px;
}
.indice{
    background-color: rgb(179, 120, 11);
    border-radius: 100px;
    padding: 10px;
    height: 10px;
    text-align: center;
    margin-left: 10px;
}
.close{
    display:none;

}
/*CART ELEMENT DESIGN*/
.cart{
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    backdrop-filter: blur(10px);
}
.cartOff{
    color: white;
    background-color: rgba(0, 0, 0, 0.781);
    backdrop-filter: blur(2px);
}
.cart-element{
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid white;
}
.cart-element h4{
    margin-top: 5px;
    font-weight: 200;
    margin-bottom: 5px;
}
.cart-images{
    width: 80px;
    height: 80px;
}
.cart-element svg{
    font-size: 2rem;
    padding-top: 10px;
}
.minus{
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/**/
@media screen and (max-width:1052px){
    .navbar{
        z-index: 999;
        display: block;
        position: fixed;
        height: 100vh;
        margin-top: 80px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: rgba(179, 120, 11, 0.301);
        transition: all 0.3s ease-out;
        transform: translateX(-150%);
    }
    .icons{
        display: flex;}
    .close{
        display: flex;
    }
    .navbar-responsive{
        z-index: 999;
        transition: all 0.5s ease-out;
        transform: translateX(-1.5%);
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: fixed;
        height: 100vh;
        margin-top: 77px;
        width: 100vw;
        background-color: rgba(179, 120, 11, 0.801);
    }
    .navbar-responsive a{
        font-size: 1.3rem;
        color: white;
        text-decoration: none;
        padding: 20px;
    }

}