 .product-detail{
    margin-top: 100px;
}
.qty{
  display: flex;
  margin-top: 10px;
}

.illustrate{
    display: flex;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}
.instock{
  color: green;
  background-color: rgb(169, 231, 169);
  padding: 5px;
  border-radius: 3px ;
}
.outofstock{
  color: red;
  background-color: rgb(231, 169, 169);
  padding: 5px;
  border-radius: 3px ;
}
.illustrate .oldprice, .newprice{
  font-family: Lobster;
  font-size: 1.3rem;
  margin: 10px;
}
.oldprice{
  text-decoration: line-through;
  color: red;
}
.desc-prod{
  text-align: justify;
}
.addtocart{
  display: flex;
  border: none;
  background-color: rgb(21, 96, 143);
  color:#fff;
  padding: 10px;
  cursor: pointer;
}
.actions{
  display: flex;
  gap: 10%;
}
.IM img{
  width: 400px;
}
.alike{
  text-align: center;
}

 .illustrate .swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.boxDataAlike {
  width: 200px;
  height: 150px;
}
.sizesList{
  display: flex;
  gap: 20px;
}
.purchase{
  width: 200px;
  background-color: red;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 10px;

} 
@media screen and (max-width: 800px) {
  .illustrate{
    display: block;
  }

.IM img{
  width: 300px;
}
  
}